#skills {
    .col-4 {
        margin-bottom: 1rem;
    }

    #skills-imgs {
        & > div {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            flex-direction: column;
            padding: 1rem;
            text-align: center;

            img {
                width: 100%;
            }

            p {
                margin: 0.5rem 0 0 0;
            }
        }
    }
}